// Variables
$red: #e62429;
$yellow: #e8b63e;
$gold: #c6a972;;
$grey: #999;
$black: #151515;
$black-dark: #000;
$white: #fff;
$border-color:#393939;
$dot-color: #e1e1e1;
$bg-dark: $black;
$link-hover: #bbb;
$bg-banner: #202020;
$font-roboto: 'Roboto',Trebuchet MS,Helvetica,Arial,sans-serif;
$font-roboto-condensed: 'Roboto Condensed',Trebuchet MS,Helvetica,Arial,sans-serif;


*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

body {
    // background-color: $bg-dark;
    background-color: $white;
    margin: 0px;
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: .5px;
    overflow-x: hidden;
    color: $black;
}

a {
    color: inherit;
}

@mixin border-top {
    border-top: 1px solid $border-color;
}
@mixin border-right {
    border-right: 1px solid $border-color;
}
@mixin border-bottom {
    border-bottom: 1px solid $border-color;
}
@mixin border-left {
    border-left: 1px solid $border-color;
}

@mixin preheadline-sm {
    display: block;
    font: 400 16px/1.1 $font-roboto-condensed;
    text-transform: uppercase;
    padding-bottom: 15px;
}

@mixin headline-sm {
    display: block;
    font: 700 26px/1 $font-roboto-condensed;
    text-transform: uppercase;
    padding-bottom: 15px;
}

@mixin description-sm {
    display: block;
    font-size: 14px;
    padding: 0 0 20px;
}

@mixin footer-main-content-item {
    @include border-bottom;
    padding: 0 0 26px;
    margin: 0 0 40px;
}


