@import 'base';

.custom-btn {
    display: inline-block;
    height: 48px;
    font: 900 14px/1 $font-roboto;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 16px 35px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
    color: $white;
    background-color: $red;
}


@mixin card-play-box {
    position: absolute;
    display: block;
    background-color: $white;
    color: $red;
    opacity: 0.7;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    transition: all 200ms;

    span {
        padding-top: 2px;
        padding-left: 3px;
    }
}

@mixin card-icon-insider {
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 29.8px;
    display: flex;
    align-items: center;

    & > svg {
        width: 24px;
        height: 24px;
    }
}

@mixin card-video-duration {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $white;
    background-color: $black;
    font-weight: 800;
    font-size: 11px;
    padding: 0 7px;
    line-height: 14.3px;
}