@import 'base';
@import 'components';

#menu-movies,
#menu-tv,
#menu-games {
    padding-bottom: 40px;
}

#menu-more {
    padding-bottom: 20px;
}

.navbar-dsk-item {

    &:hover .dropdown-options {
        z-index: 99;
        opacity: 1;
        visibility: visible;
    }
}


.dropdown-options {
    width: 100%;
    letter-spacing: 1px;
    position: absolute;
    top: 92px;
    left: 0px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    background-color: $white;
    text-transform: none;
    cursor: pointer;
    color: $black;
    transition: all 300ms ease-in-out;
    transition-delay: 250ms;
}

.dropdown-menu {
    text-align: center;

    ul {
        width: inherit;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        
        li {
            margin: 10px 0 0 26px;
            line-height: 12px;

            &:first-child {
                margin: 10px 0 0 0;
            }

            a {
                text-transform: uppercase;
                font: 800 12px/1 $font-roboto-condensed;
                letter-spacing: 1px;

                &:hover {
                    color: $red;
                }
            }
            
        }
    }

}

.dropdown-title {
    height: 40px;
    text-align: center;
    font: 700 34px/1 $font-roboto-condensed;
    text-transform: uppercase;
    margin: 30 0 10px;
}



.dropdown-options-lower {
    width: 100%;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 35px;
    padding-bottom: 20px;
    font: 800 12px/1 $font-roboto-condensed;
    
    h4 {
        color: $gold;
    }

    a {
        margin-left: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}

#menu-more {

    .more-options {
        width: 100%;
        padding: 125px 0;
        display: inline-flex;
        justify-content: center;
        text-transform: uppercase;
    
        .more-options-item {
            display: block;
            color: $black;
            font: 800 26px/1 $font-roboto-condensed;
            letter-spacing: 2px;
            cursor: pointer;
            padding: 10px 0 0 60px;

            &:hover {
                color: $red;
            }
        }
    
        .more-options-item:first-child {
            padding-left: 0;
        }    
        
    }

    .flex-container {
        display: inline-flex;
        justify-content: center;
        width: min(100%, 1200px);
        padding: 0 40px 0 20px;
        margin: 0 auto;

        & > * {
            width: 33%;
        }

        .social-icon-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5px;
            height: 70px;
            padding: 5px 5px 0;

            
            a {
                display: block;
                margin: 0 10px;
                line-height: 70px;

                
                .icon--svg {
                    fill: $grey;
                    display: block;
                }
            }
           
   
        }

        a {
            display: inline-flex;
            text-align: center;
            justify-content: center;
            align-items: center;
    
            .footer-menu-more-img {
                display: flex;
                justify-content: center;
                max-width: 125px;

                img {
                    width: 100%;
                }
            }

            .footer-menu-more-title {
                display: flex;
                flex-direction: column;
                // text-align: center;
                align-items: center;
                justify-content: center;
                padding-top: 1vh;
                margin-left: 10px;
            }

            h3 {
                text-transform: uppercase;
                font: 800 13px/1 $font-roboto-condensed;
                letter-spacing: 2px;
                margin: 13px 0 5px;
            }

            h4 {
                color: $grey;
                font-size: 14px;
                letter-spacing: 0;
                margin-bottom: 20px;
            }
        }
    }
}

