@import 'base';
@import 'components';

$img-height-sm: 280px;
$img-height-md: 440px;
$img-height-lg: 560px;

.hero-set {
    margin-top: 75px;
    width: 100%;
}

.set-container {
    clip-path: polygon(0 0,0 100%,100% 92%,100% 0);

    .custom-btn {
        margin: 0 15px 15px 0;
    }

}

.set-img-container {
    width: 100%;
    overflow: hidden;
    height: $img-height-sm;;

    img {
       height: $img-height-sm;
       margin-left: 50%;
       transform: translateX(-50%);
    }
}

.set-content {
    width: 100%;
    background-color: $bg-dark;
    color: $white;
    padding: 60px 30px 80px;
    
    figure {
        padding-bottom: 20px;
    }
}

.set-preheadline {
    @include preheadline-sm;
    font-weight: 700;
    letter-spacing: 4px;

    &::after,
    &::before {
        content: "";
        background-color: #c6a972;
        display: block;
        height: 2px;
        width: 34px;
        transform: rotate(-45deg) skewX(45deg);
        z-index: 9;
        margin-top: 15px;
    }

    &::before {
        margin-left: 44px;
        margin-bottom: 15px;
    }

}


.set-headline {
    @include headline-sm;
}

.set-description {
    @include description-sm
}

.set-slider {
    overflow-x: auto;
    width: 100%;
    padding: 30px 0 17px;
    background-color: $white;
    max-width: 1240px;
    margin: 0 auto;

    .card-container {
        padding: 0;

        & > ul {
            justify-content: left;

            li:first-child {
                margin-left: 30px;
            }
        }

        .card-body {
            padding: 20px 0 0;
        }

        .card-title {
            font-weight: 900;
            white-space: normal;
        }

        .card-comic-img {
            width: 100%;
        }
        
    }

    .card-comic {
        min-width: 34%;
    }
}


@media (min-width: 563px) {
    
    .set-img-container {
        img  {
            width: 100%;
            height: auto;
        }
    }

    .set-slider {
        .card-comic {
            min-width: 35%;
            max-width: 150px;
        }
    }

}

@media (min-width: 601px) {

    .set-img-container {
        height: $img-height-md;
        img  {
            width: auto;
            height: $img-height-md;
        }
    }

    .set-headline {
        font-size: 40px;
    }

    .set-description {
        font: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    }

    .set-slider {
        .card-comic {
            min-width: 25%;
        }
    }

}

@media (min-width: 839px) {

    .set-container {
        clip-path: none;
        height: $img-height-lg;
        display: flex;
        flex-direction: row-reverse;
    }

    .set-img-container {
        width: 55%;
        height: $img-height-lg;
        img  {
            height: $img-height-lg;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }

    .set-content {
        width: 45%;
        height: inherit;
        padding: 90px 30px 0 50px;
        position: relative;

        &::after {
            content: "";
            display: block;
            background-color: $bg-dark;
            height: 100%;
            width: 160px;
            position: absolute;
            top: 0;
            right: -159.5px;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
        }
    }

    .set-slider {
        margin-top: -60px;
        position: relative;
        z-index: 99;
        .card-container {
            & > ul {
                justify-content: center;
            }

            .card-comic {
                min-width: 14.67%;
                max-width: 173.167px;

                .card-comic-img {
                    max-width: 173.167px;
                }
            }

            
        }
    }
    
    #set_2 {
        .set-slider {
            max-width: 1179px;
            .card-container {
                & > ul {
                    justify-content: left;
                }
            }
        }
    }

    .set-preheadline {
        font: 500 18px/19px $font-roboto-condensed;
    }
    

}