@import 'base';
@import 'components';

/* Menu - Start */
.menu-mobile-wrapper {
    overflow-x: hidden;
}

body.fixed,
.menu-mobile-wrapper.fixed {
    height: 100vh;
    overflow-y: hidden;
}

.menu-mobile-wrapper,
.menu-mobile,
.submenu-mobile {
    background-color: $bg-dark;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    transition: 300ms ease-in-out;
}

.menu-mobile-wrapper {
    z-index: 10;
    transform: translateX(-100%);
}

.menu-mobile-wrapper.active {
    transform: translateX(0);
}

.navbar {
    padding: 20px 20px 30px 0px;
}

.close-icon {
    padding: 20px 30px;
    stroke: $white;
    cursor: pointer;
}

.navbar-list {
    width: 100%;
    padding: 20px 0px 30px 30px;
}

.list-item {
    display: flex;
    color: $white;
    padding: 15px 0;
    text-transform: uppercase;
    font: 700 16px/1.3 $font-roboto;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: baseline;
}

.list-item-arrow {
    stroke: $red;
    stroke-width: 2px;
}

.marvel-auth-container,
.menu-social-container {
    border-top: 1px solid $border-color;
    background-color: $bg-dark;
    padding: 30px 15px 30px 30px;
}

.marvel-auth-container > .navbar-list {
    padding: 0;
}

.title-secondary {
    color: $yellow;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 700 12px/1 $font-roboto-condensed;
    padding-bottom: 15px;
}

.menu-social-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px 30px 30px;

    .icon--svg {
        display: block;
        fill: $grey;
        margin-top: 10px;
        padding-bottom: 30px;
    }
}



.footer-menu-mobile {
    padding: 30px 15px 100px 30px;
    background-color: $white;
}

.footer-menu-mobile > a {
    display: flex;
}

.footer-menu-mobile-img {
    margin-right: 20px;
}

.footer-menu-mobile-title {
    width: 190px;
}

.footer-menu-mobile-item {
    margin-bottom: 38px;
}

.footer-menu-mobile h3 {
    text-transform: uppercase;
    font: 800 13px/1 $font-roboto-condensed;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.footer-menu-mobile h4 {
    color: $grey;
    font-size: 14px;
    letter-spacing: 0;
}
/* Menu - End */

/* Sub-menu - Start*/
.submenu-mobile {
    text-transform: uppercase;
    transform: translateX(100%);
    padding: 30px 15px 30px 30px;

    &.active {
        transform: translateX(0);
    }

    .submenu {

        span {
            padding: 15px 0px;
        }

        ul {
            padding: 0;
        }
    
        .title {
            color: $white;
            font: 700 28px/1 $font-roboto-condensed;
            letter-spacing: 1px;
        }
    
        .list-item-arrow  {
            padding-right: 15px;

            & > svg {
                transform: rotate(180deg);
            }
        }

        .submenu-secondary {
            margin-top: 30px;
            margin-left: 30px;
        }

    }
    
}

.submenu-title {
    color: $white;
}

/* Sub-menu - End*/


@media (min-width: 601px) {
    
    .menu-mobile-wrapper,
    .submenu-mobile,
    .menu-mobile {
        max-width: 375px;
    }

}

@media (min-width: 839px) {
    .menu-mobile-wrapper {
        display: none;
    }
}