@import 'base';
@import 'components';

.video-set {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 75px auto 0;
    max-width: 1200px;
}

.main-video {
    display: inline-flex;
    flex-direction: column;


    .video-player {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;

        & > #player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    


}

.main-video-body {
    width: 100%;

    .main-video-category {
        font: 700 12px/1 $font-roboto-condensed;
        color: $grey;
        display: block;
        text-transform: uppercase;
        margin-top: 30px;
    }

    .main-video-title {
        color: $black;
        display: block;
        font: 700 22px/1.2 $font-roboto;
        margin: 8px 0 0;
    }

    .main-video-subtitle {
        display: flex;
        align-items: center;
        height: 24px;
        margin-top: 5px;

        .icon-insider {
            position: static;
            width: 24px;

            & > svg {
                width: 24px;
                height: 24px;
            }
            
        }

        a {
            margin: 0 0 0 3px;
            color: red;
            text-decoration: underline;
        }
    }

    .main-video-description {
        color: $black;
        display: block;
        max-width: 570px;
        font: 400 16px/1.3 $font-roboto;
        letter-spacing: .5px;
        margin: 16px 0 0;

    }
}

.video-slider {
    width: 100%;
    margin: 40px 0 0;
    max-width: 1240px;
    
    .card-container {
        padding: 0;

        & > ul {
            justify-content: left;
            overflow-x: auto;
            padding: 0 0 15px;
        }
    }

    .card {
        min-width: 34.5189%;
        margin: 0 0 0 20px;
        cursor: pointer;
        transition: all 500ms;

        &:first-child {
            margin: 0;
        }

        &.active > .card-thumbnail-video {
            border: 2px solid $red;

            & > img {
                opacity: 1;
            }
        }

        &:hover > .card-thumbnail-video {

            & > img {
                opacity: 1;
            }

            .play-box {
                @include card-play-box-active;
            }
        }

        .card-thumbnail-video {
            min-height: 79px;
            border: 2px solid transparent;

            & > img {
                opacity: .28;
            }

            .play-box {
                opacity: 1;
            }
        }

        .card-body {
            padding: 8px 0;
        }

        .card-title {
            margin: 0;
            color: $black;
            width: 80%;
            font: 700 11px/1.2 $font-roboto;
            
            &:hover {
                color: $black;
            }
        }
    }
    
}

@media (min-width: 601px) {

    .video-slider {
        .card {
            min-width: 24.57%;
        }
    }

}


@media (min-width: 839px) {

    .video-set {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .main-video {
        grid-row: 1;
        grid-column: 1 / 1;
    }

    .main-video-body {
        grid-row: 2;
        grid-column: 1 / 1;
    }

    .video-slider {
        grid-row: 1;
        grid-column: 2 / 2;
        margin: 0;
           
        .card-container {
            height: inherit;
            padding: 0;
            
            & > ul {
                height: inherit;
                overflow-y: scroll;
                overflow-x: hidden;
                flex-direction: column;
                padding: 0 30px;
            }
        }

        .card {
            min-width: 100%;
            padding: 0 0 20px;
            margin: 0;
            position: relative;

            &.active > .card-body,
            &:hover >.card-body {
                display: none;
            }
        }

        .card-thumbnail-video {
            .play-box {
                bottom: 0;
                left: 0;
            }
        }

        .card-body {
            position: absolute;
            left: 35px;
            bottom: 20px;
        }
    }

}

@media (min-width: 1200px) {

    .video-set {
        padding: 0;
    }
}
