@import 'base';
@import 'components';
@import 'mainSlider';
@import 'header';
@import 'dropdownMenuItems';
@import 'navbarMobile';
@import 'heroSet';
@import 'twoCols';
@import 'videoSet';


/********************************/
/***** Home-Page - Start ******/
/********************************/

/* Promo Section - Start */

// Bloque para que no se vea el fondo blanco al desplazarce la barra de menu
.promo::before {
    content: "";
    display: block;
    height: 52px;
    width: 100%;
    background-color: $bg-dark;
    position: absolute;
    top: 0;
    left: 0;
}

.promo-wrapper {
    margin-top: 52px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

.promo-content {
    max-width: 500px;
    font-family: $font-roboto-condensed;
    font-size: 12px;
    line-height: 1;
    margin: 0px;
    color: $white;
}

.promo-logo {
    margin: 0px;
    margin-left: 10px;
}
/* Promo Section - End */


/* SolialLink - Start */
.social-links-wrapper {
    width: 100%;
    color: $grey;
    border-bottom: thin solid #e5e5e5;
    margin-top: 10px;
    padding: 10px 30px;
    text-align: right;
    background-color: $white;

    .social_title {
        width: max-content;
        position: absolute;
        font: bold 16px/1.1 $font-roboto-condensed;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .social_icon {
        padding-left: 30px;
        fill: $grey;
    }
    
}


/* SolialLink - End */


@media (min-width: 839px) {

    .promo::before {
        height: 92px;
    }

    .promo-wrapper {
        margin-top: 92px;
    }

    .social-links-wrapper {
        border: none;
        width: 174px;
        position: absolute;
        top: 690px;
        right: 0;
        background-color: transparent;

        .social_title {
            display: none;
        }

        .social_icon {
            padding: 0;
            margin-left: 15px;
        }
    }

}

@media (min-width: 961px) {
    .social-links-wrapper {
        top: 640px;
    }
}

@media (min-width: 1240px) {
    .social-links-wrapper {
        position: static;
        max-width: 1240px;
        width: 100%;
        margin: -50px auto 0;
    }
}

/********************************/
/***** Home-Page - End ******/
/********************************/




