* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

/* MainSlider - Start */
.main-slider {
  max-width: 100vw;
  height: 693px;
  overflow-x: hidden;
  background-color: #151515;
}

.slider-container {
  position: relative;
  max-width: inherit;
  height: inherit;
}

.slider-dots {
  width: 100%;
  position: absolute;
  text-align: center;
  transform: translateY(290px);
  z-index: 9;
}
.slider-dots > ul {
  padding: 3px 0 0;
}
.slider-dots > ul li {
  margin: 0 0.8px 3px;
}

.dot {
  display: inline-block;
  width: 18px;
  border-bottom: 3px solid #e1e1e1;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.dot.selected {
  border-bottom: 3px solid #e62429;
}

.slide {
  width: 100%;
  overflow: hidden;
  background-color: #151515;
  transition: all 400ms ease-in-out;
  position: absolute;
  top: 0;
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.toRight {
  transform: translateX(15%);
}
.slide.toLeft {
  transform: translateX(-15%);
}

.slide-img-mob {
  height: 290px;
  display: block;
  /* Lineas para centrar imagen */
  margin-left: 50%;
  transform: translateX(-50%);
}

.slide-img-dsk {
  display: none;
}

.slide-content {
  color: #fff;
  padding: 25px 30px 0;
  height: 403px;
}

.slide-content > figure {
  margin-left: 0;
}

.slide-preheadline {
  display: block;
  font: 400 16px/1.1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.slide-headline {
  display: block;
  font: 700 26px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.slide-description {
  display: block;
  font-size: 14px;
  padding: 0 0 20px;
}

.slider-tabs {
  display: none;
}

/* MainSlider - End */
@media (min-width: 601px) {
  .slide-img-mob {
    height: 400px;
  }

  .slider-dots {
    transform: translateY(400px);
  }
}
@media (min-width: 839px) {
  .slider-container {
    height: 532px;
  }

  .main-slider {
    width: 100%;
    position: relative;
    height: auto;
  }

  .slide-img-mob,
.slider-dots {
    display: none;
  }

  .slide-img-dsk {
    display: block;
    height: 516.6px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .slide-content {
    width: 528px;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 14.5%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0, transparent);
  }
  .slide-content .slide-preheadline {
    font-weight: 700;
  }
  .slide-content .slide-preheadline::after, .slide-content .slide-preheadline::before {
    content: "";
    background-color: #c6a972;
    display: block;
    height: 2px;
    width: 34px;
    transform: rotate(-45deg) skewX(45deg);
    z-index: 9;
    margin-top: 15px;
  }
  .slide-content .slide-preheadline::before {
    margin-left: 44px;
    margin-bottom: 15px;
  }

  .slide-description {
    font-size: 16px;
  }

  .slider-tabs {
    position: relative;
    max-width: 1240px;
    background-color: #fff;
    color: #151515;
    text-transform: capitalize;
    font: 700 14px/1.2 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
    cursor: pointer;
    white-space: normal;
    margin: 0 auto;
    display: block;
  }
  .slider-tabs ul {
    width: 100%;
    display: inline-flex;
    justify-content: left;
    padding: 0 0 17px 20px;
  }
  .slider-tabs ul .slider-tabs-item {
    width: 13%;
    min-width: 125px;
    padding: 20px 30px 20px 0;
    box-sizing: content-box;
    height: 100%;
    cursor: pointer;
    position: relative;
  }
  .slider-tabs ul .slider-tabs-item.active {
    color: #e62429;
  }
  .slider-tabs ul .slider-tabs-item.active::after {
    width: 100%;
    animation-name: tabSlide;
    animation-duration: 4s;
    animation-timing-function: linear;
  }
  .slider-tabs ul .slider-tabs-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: red;
    height: 5px;
  }
}
@media (min-width: 961px) {
  .main-slider {
    background-color: #fff;
  }

  .slider-container {
    clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
  }
  .slider-container .slide-content {
    padding-top: 100px;
  }
  .slider-container .slide-content .slide-headline {
    font-size: 44px;
  }

  .slider-tabs {
    margin-top: -50px;
    z-index: 99;
    background-color: transparent;
  }
  .slider-tabs .slider-tabs-item {
    background-color: #fff;
    height: 100%;
  }
  .slider-tabs .slider-tabs-item:first-child::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -20px;
  }
}
@keyframes tabSlide {
  0% {
    width: 0%;
  }
  99% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #202020;
  transition: all 300ms;
  z-index: 90;
}
.header-container.hide-on-scroll {
  transform: translateY(-100%);
}

.header-upper-container {
  width: 100%;
}

/**** Header Upper ****/
.header-mobile {
  position: relative;
  height: 52px;
  display: flex;
  justify-content: space-between;
  float: center;
  margin: 0 auto;
  max-width: 1200px;
}

.header-icon {
  display: block;
  padding: 17px;
}

.menu-icon {
  float: left;
  padding-left: 30px;
}

.brand-logo {
  width: 130px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.right-links {
  display: inline-flex;
}

.menu-subscribe {
  border-left: 1px solid #393939;
  display: none;
  color: #fff;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
}
.menu-subscribe > img {
  width: 22px;
  height: 25px;
  margin-right: 10px;
}
.menu-subscribe .title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2px;
  line-height: 0.9;
  display: block;
  color: #fff;
}
.menu-subscribe .title p {
  font-size: 12px;
}
.menu-subscribe .title span {
  display: block;
  font-size: 10px;
  margin-top: 3px;
}

.search-icon {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  padding-right: 30px;
}

/**** Header Lower ****/
.navbar-dsk {
  height: 40px;
  display: none;
  justify-content: center;
}
.navbar-dsk ul {
  display: inline-flex;
  justify-content: center;
  padding: 0;
}
.navbar-dsk .navbar-dsk-item {
  display: flex;
  align-items: center;
  padding: 0 18px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.navbar-dsk .navbar-dsk-item .list-item-dsk {
  display: block;
  padding: 10px 0 13px;
  line-height: 100%;
  color: #fff;
  font: 800 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all 250ms;
  position: relative;
}
.navbar-dsk .navbar-dsk-item .list-item-dsk:hover {
  border-bottom: 2px solid #e62429;
}

.menu-auth {
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
  display: none;
  padding: 0 25px;
  text-transform: uppercase;
  font: 600 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 1px;
}
.menu-auth > span > svg {
  width: 20px;
  fill: #fff;
  margin-right: 8px;
}
.menu-auth .divisor {
  margin: 5px;
}
.menu-auth a {
  cursor: pointer;
}

@media (min-width: 839px) {
  .header-upper-container {
    border-bottom: 1px solid #393939;
  }

  .header-mobile {
    padding: 0 20px;
  }

  .menu-icon {
    display: none;
  }

  .menu-auth {
    display: inline-flex;
  }

  .menu-subscribe {
    display: flex;
  }

  .search-icon {
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .navbar-dsk {
    display: flex;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

#menu-movies,
#menu-tv,
#menu-games {
  padding-bottom: 40px;
}

#menu-more {
  padding-bottom: 20px;
}

.navbar-dsk-item:hover .dropdown-options {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.dropdown-options {
  width: 100%;
  letter-spacing: 1px;
  position: absolute;
  top: 92px;
  left: 0px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  text-transform: none;
  cursor: pointer;
  color: #151515;
  transition: all 300ms ease-in-out;
  transition-delay: 250ms;
}

.dropdown-menu {
  text-align: center;
}
.dropdown-menu ul {
  width: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dropdown-menu ul li {
  margin: 10px 0 0 26px;
  line-height: 12px;
}
.dropdown-menu ul li:first-child {
  margin: 10px 0 0 0;
}
.dropdown-menu ul li a {
  text-transform: uppercase;
  font: 800 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}
.dropdown-menu ul li a:hover {
  color: #e62429;
}

.dropdown-title {
  height: 40px;
  text-align: center;
  font: 700 34px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 30 0 10px;
}

.card-container, .card-character-container {
  margin: 0px auto;
  padding: 20px 45px 0;
  max-width: 1240px;
  display: flex;
  justify-content: center;
}
.card-container > ul, .card-character-container > ul {
  display: inline-flex;
  width: 100%;
  padding: 0;
  justify-content: center;
}

.card-character-container {
  padding: 30px 15px 40px;
}

.card {
  width: 100%;
  min-width: 169.5px;
  max-width: 219.5px;
  margin: 0 9px;
}
.card .card-thumbnail-video {
  display: block;
  position: relative;
  width: inherit;
  min-height: 95.33px;
  max-height: 135px;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-thumbnail-video .play-box {
  position: absolute;
  display: block;
  background-color: #fff;
  color: #e62429;
  opacity: 0.7;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
  width: 30px;
  height: 30px;
}
.card .card-thumbnail-video .play-box span {
  padding-top: 2px;
  padding-left: 3px;
}
.card .card-thumbnail-video:hover > .play-box {
  opacity: 1;
}
.card .card-thumbnail-video .icon-insider {
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
  height: 29.8px;
  display: flex;
  align-items: center;
}
.card .card-thumbnail-video .icon-insider > svg {
  width: 24px;
  height: 24px;
}
.card .card-thumbnail-video .video-duration {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #151515;
  font-weight: 800;
  font-size: 11px;
  padding: 0 7px;
  line-height: 14.3px;
}
.card .card-body {
  padding: 20px 30px 0 0;
}
.card .card-body .card-category {
  color: #999;
  text-transform: uppercase;
  font: 700 14px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
}
.card .card-body .card-title {
  font: 900 15px/1.2 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-align: left;
  display: block;
  margin: 8px 0 0;
  transition: all ease-in-out;
}
.card .card-body .card-title:hover {
  color: red;
}

.card-character {
  min-width: 120px;
  max-width: 148px;
  overflow: hidden;
  margin: 0 9px;
  background-color: #151515;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 0);
  z-index: 90;
}
.card-character a {
  display: block;
  min-width: inherit;
  max-width: inherit;
}
.card-character .card-character-img img {
  width: 100%;
}
.card-character .card-character-slide {
  width: 100%;
  background-color: #e62429;
  height: 4px;
  transition: all 250ms ease-in-out;
  position: absolute;
  z-index: -1;
}
.card-character:hover .card-character-slide {
  height: 145px;
}
.card-character .card-body {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 24px 17px 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;
}
.card-character .card-body .card-title {
  font: 700 16px/1.1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  color: #fff;
}
.card-character .card-body .card-footer {
  font: 700 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  color: #999;
  transition: all 250ms ease-in-out;
}
.card-character .card-body:hover .card-footer {
  color: #fff;
}

.card-comic {
  width: clamp(107px, 100%, 140.33px);
  margin: 0 9px;
}
.card-comic a {
  display: block;
  width: inherit;
  transition: all 150ms ease-in-out;
}
.card-comic .card-comic-img {
  box-shadow: 0 7px 17px -7px rgba(0, 0, 0, 0.8);
}
.card-comic .card-comic-img:hover {
  transform: translateY(-5px);
}
.card-comic .card-comic-img img {
  width: inherit;
}
.card-comic .card-body {
  padding-top: 18px;
  cursor: pointer;
}
.card-comic .card-body .card-title {
  font: 600 14px/1.2 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  padding-bottom: 5px;
}
.card-comic .card-body .card-title:hover {
  color: red;
}
.card-comic .card-body .card-year {
  color: #999;
  font: 700 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

.dropdown-options-lower {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 35px;
  padding-bottom: 20px;
  font: 800 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
}
.dropdown-options-lower h4 {
  color: #c6a972;
}
.dropdown-options-lower a {
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu-more .more-options {
  width: 100%;
  padding: 125px 0;
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
}
#menu-more .more-options .more-options-item {
  display: block;
  color: #151515;
  font: 800 26px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px 0 0 60px;
}
#menu-more .more-options .more-options-item:hover {
  color: #e62429;
}
#menu-more .more-options .more-options-item:first-child {
  padding-left: 0;
}
#menu-more .flex-container {
  display: inline-flex;
  justify-content: center;
  width: min(100%, 1200px);
  padding: 0 40px 0 20px;
  margin: 0 auto;
}
#menu-more .flex-container > * {
  width: 33%;
}
#menu-more .flex-container .social-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  height: 70px;
  padding: 5px 5px 0;
}
#menu-more .flex-container .social-icon-container a {
  display: block;
  margin: 0 10px;
  line-height: 70px;
}
#menu-more .flex-container .social-icon-container a .icon--svg {
  fill: #999;
  display: block;
}
#menu-more .flex-container a {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#menu-more .flex-container a .footer-menu-more-img {
  display: flex;
  justify-content: center;
  max-width: 125px;
}
#menu-more .flex-container a .footer-menu-more-img img {
  width: 100%;
}
#menu-more .flex-container a .footer-menu-more-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  margin-left: 10px;
}
#menu-more .flex-container a h3 {
  text-transform: uppercase;
  font: 800 13px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin: 13px 0 5px;
}
#menu-more .flex-container a h4 {
  color: #999;
  font-size: 14px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

/* Menu - Start */
.menu-mobile-wrapper {
  overflow-x: hidden;
}

body.fixed,
.menu-mobile-wrapper.fixed {
  height: 100vh;
  overflow-y: hidden;
}

.menu-mobile-wrapper,
.menu-mobile,
.submenu-mobile {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  transition: 300ms ease-in-out;
}

.menu-mobile-wrapper {
  z-index: 10;
  transform: translateX(-100%);
}

.menu-mobile-wrapper.active {
  transform: translateX(0);
}

.navbar {
  padding: 20px 20px 30px 0px;
}

.close-icon {
  padding: 20px 30px;
  stroke: #fff;
  cursor: pointer;
}

.navbar-list {
  width: 100%;
  padding: 20px 0px 30px 30px;
}

.list-item {
  display: flex;
  color: #fff;
  padding: 15px 0;
  text-transform: uppercase;
  font: 700 16px/1.3 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  justify-content: space-between;
  align-items: baseline;
}

.list-item-arrow {
  stroke: #e62429;
  stroke-width: 2px;
}

.marvel-auth-container,
.menu-social-container {
  border-top: 1px solid #393939;
  background-color: #151515;
  padding: 30px 15px 30px 30px;
}

.marvel-auth-container > .navbar-list {
  padding: 0;
}

.title-secondary {
  color: #e8b63e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font: 700 12px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  padding-bottom: 15px;
}

.menu-social-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px 30px 30px;
}
.menu-social-container .icon--svg {
  display: block;
  fill: #999;
  margin-top: 10px;
  padding-bottom: 30px;
}

.footer-menu-mobile {
  padding: 30px 15px 100px 30px;
  background-color: #fff;
}

.footer-menu-mobile > a {
  display: flex;
}

.footer-menu-mobile-img {
  margin-right: 20px;
}

.footer-menu-mobile-title {
  width: 190px;
}

.footer-menu-mobile-item {
  margin-bottom: 38px;
}

.footer-menu-mobile h3 {
  text-transform: uppercase;
  font: 800 13px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.footer-menu-mobile h4 {
  color: #999;
  font-size: 14px;
  letter-spacing: 0;
}

/* Menu - End */
/* Sub-menu - Start*/
.submenu-mobile {
  text-transform: uppercase;
  transform: translateX(100%);
  padding: 30px 15px 30px 30px;
}
.submenu-mobile.active {
  transform: translateX(0);
}
.submenu-mobile .submenu span {
  padding: 15px 0px;
}
.submenu-mobile .submenu ul {
  padding: 0;
}
.submenu-mobile .submenu .title {
  color: #fff;
  font: 700 28px/1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}
.submenu-mobile .submenu .list-item-arrow {
  padding-right: 15px;
}
.submenu-mobile .submenu .list-item-arrow > svg {
  transform: rotate(180deg);
}
.submenu-mobile .submenu .submenu-secondary {
  margin-top: 30px;
  margin-left: 30px;
}

.submenu-title {
  color: #fff;
}

/* Sub-menu - End*/
@media (min-width: 601px) {
  .menu-mobile-wrapper,
.submenu-mobile,
.menu-mobile {
    max-width: 375px;
  }
}
@media (min-width: 839px) {
  .menu-mobile-wrapper {
    display: none;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}

body {
  background-color: #fff;
  margin: 0px;
  font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.5px;
  overflow-x: hidden;
  color: #151515;
}

a {
  color: inherit;
}

.custom-btn {
  display: inline-block;
  height: 48px;
  font: 900 14px/1 "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  clip-path: polygon(16px 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%, 0 16px);
}

.red-btn {
  color: #fff;
  background-color: #e62429;
}

.masthead_wrapper {
  width: 100%;
  clip-path: polygon(0 0, 0 99%, 100% 95%, 100% 0);
}
.masthead_wrapper > a {
  display: block;
  width: inherit;
}
.masthead_wrapper .masthead_video {
  height: 295px;
  width: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/********************************/
/***** Home-Page - Start ******/
/********************************/
/* Promo Section - Start */
.promo-wrapper {
  margin-top: 52px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}

.promo-content {
  max-width: 500px;
  font-family: "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 0px;
  color: #fff;
}

.promo-logo {
  margin: 0px;
  margin-left: 10px;
}

/* Promo Section - End */
/* SolialLink - Start */
.social-links-wrapper {
  width: 100%;
  color: #999;
  border-bottom: thin solid #e5e5e5;
  margin-top: 10px;
  padding: 10px 30px;
  text-align: right;
  background-color: #fff;
}
.social-links-wrapper .social_title {
  width: max-content;
  position: absolute;
  font: bold 16px/1.1 "Roboto Condensed", Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.social-links-wrapper .social_icon {
  padding-left: 30px;
  fill: #999;
}

/* SolialLink - End */
@media (min-width: 839px) {
  .promo-wrapper {
    margin-top: 92px;
  }

  .social-links-wrapper {
    border: none;
    width: 174px;
    position: absolute;
    top: 690px;
    right: 0;
    background-color: transparent;
  }
  .social-links-wrapper .social_title {
    display: none;
  }
  .social-links-wrapper .social_icon {
    padding: 0;
    margin-left: 15px;
  }
}
@media (min-width: 961px) {
  .social-links-wrapper {
    top: 640px;
  }
}
/********************************/
/***** Home-Page - End ******/
/********************************/

/*# sourceMappingURL=styles.css.map */
